.align-center {
    text-align: center;
}

.pull-right {
    float: right;
}

#question-link {
    height: 0px;
    width: 0px;
    display: none;
}

.content {
    background-color: #f6f9fc;
}
/* questions page styling */
.questions {
    padding: 10px 0 15px 10px;
    border-radius: 10px;
}

.questions .question {
    padding-bottom: 15px;
}

.questions .question h4 {
    font-weight: normal;
}

/* Question page */

.question li {
    list-style-type: none;
}
.question .items {
    color: #0ea31ad7;
    padding-right: 30px;
}

/*Forms*/
.my-form {
    padding: 20px;
}

.my-form .form-group {
    padding-bottom: 15px;
}

.my-form label {
    display: block;
}

.my-form input, .my-form textarea {
    padding: 8px;
    width: 80%;
}

/*Messages*/
.error {
    margin-top: 10px;
    background: #be3e3e;
    color: white;
    border-radius: 7px;
    display: block;
    text-align: center;
    padding: 5px 0 5px 0;
}

.success {
    margin-top: 10px;
    background: #21941d;
    color: white;
    border-radius: 7px;
    display: block;
    text-align: center;
    padding: 5px 0 5px 0;
}

/*Registerlogin page*/
 /*Login/regiater wrapper*/
 .login-reg {
    padding: 20px;
    width: 60%;
    margin: auto;
    border-radius: 7px;
}

.align-center {
    text-align: center;
}

/* Profile page */
.main-content {
    width: 60%;
    margin: auto;
    float: left;
    box-sizing: border-box;
}

.aside {
    width: 40%;
    margin: auto;
    float: right;
    box-sizing: border-box;
}
