/* questions page styling */
.questions {
    padding: 10px 0 15px 10px;
    border-radius: 10px;
}

.questions .question {
    padding-bottom: 15px;
}

.questions .question h4 {
    font-weight: normal;
}

/* Question page */

.question li {
    list-style-type: none;
}
.question .items {
    color: #0ea31ad7;
    padding-right: 30px;
}

/*Forms*/
.my-form {
    padding: 20px;
}

.my-form .form-group {
    padding-bottom: 15px;
}

.my-form label {
    display: block;
}

.my-form input, .my-form textarea {
    padding: 8px;
    width: 80%;
}

/*Not Found Message*/
.question-not-found {
    background: #be3e3e;
    color: white;
    border-radius: 7px;
    display: block;
    text-align: center;
}